{% extends base_template|default:"layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} {% translate "- ITAMbox" %}{% endblock %}

{% block page_header %}
    <h2 class="page-title">
        {{ title }}
    </h2>
{% endblock %}

{% block page_actions %}
    {% if return_url %}
    <a href="{% url return_url %}" class="btn btn-outline-secondary" data-no-dirty-track="true">
        <i class="mdi mdi-arrow-left"></i>
        {% translate "Cancel" %}
    </a>
    {% endif %}
{% endblock page_actions %}

{% block content %}
{# Center the form card using Bootstrap grid #}
<div class="row justify-content-center">
    {# Adjust column width as needed, e.g., col-lg-8 or col-md-10 #}
    <div class="col-lg-5 col-md-10">
        <div class="card">
            <div class="card-body">
                {# The crispy tag now renders the <form>, fields, and buttons (if defined in helper) #}
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock content %} 