pre.change-data {
    border-radius: 0;
    padding: 0
}

pre.change-data>span {
    display: block;
    padding-right: 1rem;
    padding-left: 1rem
}

pre.change-data>span.added {
    background-color: #2fb344;
    color: #ffffff;
}

pre.change-data>span.removed {
    background-color: #d63939;
    color: #ffffff;
}

pre.change-diff {
    border-color: transparent
}

pre.change-diff.change-added {
    background-color: #2fb344
}

pre.change-diff.change-removed {
    background-color: #d63939
}

pre.block {
    padding: 1rem;
    border: 1px solid #dce1e7;
    border-radius: 4px
}

.page-body .card {
    margin-bottom: 1rem;
}