<dl class="row mb-0">
    <dt class="col-sm-3">Manufacturer:</dt>
    <dd class="col-sm-9">
        {% if object.manufacturer %}
            <a href="{% url 'assets:manufacturer_detail' pk=object.manufacturer.pk %}">{{ object.manufacturer.name }}</a>
        {% else %}
            <span class="text-muted"><i>None</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Model Name:</dt>
    <dd class="col-sm-9"><strong>{{ object.model }}</strong></dd>

    <dt class="col-sm-3">Slug:</dt>
    <dd class="col-sm-9"><code>{{ object.slug }}</code></dd>

    <dt class="col-sm-3">Part Number:</dt>
    <dd class="col-sm-9">{{ object.part_number|default:"<span class='text-muted'><i>Not Set</i></span>"|safe }}</dd>
</dl>
