{% load i18n %}
<dl class="row mb-0">
    <dt class="col-sm-3">{% translate "Name:" %}</dt>
    <dd class="col-sm-9"><strong>{{ object.name }}</strong></dd>

    <dt class="col-sm-3">{% translate "Slug:" %}</dt>
    <dd class="col-sm-9"><code>{{ object.slug }}</code></dd>

    <dt class="col-sm-3">{% translate "Contact Person:" %}</dt>
    <dd class="col-sm-9">{{ object.contact_name|default:"—" }}</dd>

    <dt class="col-sm-3">{% translate "Email:" %}</dt>
    <dd class="col-sm-9">
        {% if object.contact_email %}
            <a href="mailto:{{ object.contact_email }}" class="text-secondary font-weight-medium">{{ object.contact_email }}</a>
        {% else %}
            <span class="text-muted small"><i>{% translate "Not configured" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Phone:" %}</dt>
    <dd class="col-sm-9">
        {% if object.contact_phone %}
            <a href="tel:{{ object.contact_phone }}" class="text-secondary font-weight-medium">{{ object.contact_phone }}</a>
        {% else %}
            <span class="text-muted small"><i>{% translate "Not configured" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Website:" %}</dt>
    <dd class="col-sm-9">
        {% if object.website %}
            <a href="{{ object.website }}" target="_blank" class="link-primary font-weight-medium d-inline-flex align-items-center">
                {{ object.website }}
                <i class="mdi mdi-open-in-new ms-1"></i>
            </a>
        {% else %}
            <span class="text-muted small"><i>{% translate "Not configured" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Address:" %}</dt>
    <dd class="col-sm-9 text-secondary">{{ object.address|linebreaksbr|default:"—" }}</dd>

    <dt class="col-sm-3">{% translate "Notes:" %}</dt>
    <dd class="col-sm-9 text-secondary">{{ object.notes|linebreaksbr|default:"—" }}</dd>

    {% if object.tags.all %}
    <dt class="col-sm-3">{% translate "Tags:" %}</dt>
    <dd class="col-sm-9">
        {% for tag in object.tags.all %}
            {% include 'inc/tags.html' with tag=tag %}
        {% endfor %}
    </dd>
    {% endif %}
</dl>
