{% extends 'generic/object_confirm_delete.html' %}

{% block title %}Delete Config Template - AssetBox{% endblock %}

{% block page_header %}
    <div class="page-pretitle">Extras</div>
    <h2 class="page-title">Delete Config Template</h2>
{% endblock %}

{% block message %}
    <p>Are you sure you want to delete the config template <strong>{{ object.name }}</strong>?</p>
    
    {% if object.asset_roles.exists %}
    <div class="alert alert-warning">
        <h4 class="alert-heading">Warning:</h4>
        <p>This config template is currently assigned to {{ object.asset_roles.count }} asset role(s).</p>
    </div>
    {% endif %}
{% endblock %} 