{% extends 'generic/object_edit.html' %}
{% load static %}

{% block content_left %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Config Template Details</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        <dt class="col-sm-3 text-secondary">Name</dt>
                        <dd class="col-sm-9">{{ object.name }}</dd>

                        <dt class="col-sm-3 text-secondary">Description</dt>
                        <dd class="col-sm-9">{{ object.description|linebreaksbr|default:"<i>None</i>"|safe }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h3 class="card-title">Template Content</h3>
        </div>
        <div class="card-body">
            <pre class="bg-light p-3 border rounded"><code>{{ object.template_content }}</code></pre>
        </div>
    </div>
{% endblock %}

{% block content_right %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Related Asset Roles</h3>
        </div>
        <div class="card-body">
            {% if object.asset_roles.all %}
                <ul class="list-group list-group-flush">
                {% for role in object.asset_roles.all %}
                    <li class="list-group-item">
                        <a href="{% url 'assets:assetrole_detail' pk=role.pk %}">{{ role.name }}</a>
                        {% if role.color %}
                        <span class="badge float-end" style="background-color: #{{ role.color }};">&nbsp;</span>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p class="text-muted">No asset roles using this template.</p>
            {% endif %}
        </div>
    </div>
{% endblock %} 