{% extends "base_public.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Log In" %} {% translate "- ITAMbox" %}{% endblock %}

{% block content %}
<div class="container-tight py-4">
    <div class="text-center mb-4">
        <a href="." class="navbar-brand">
             {% with brand_height="48px" %}{% include "global_includes/_brand_lockup.html" %}{% endwith %}
        </a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">{% translate "Log In to Your Account" %}</h2>

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <div class="d-flex">
                        <div>
                            <i class="mdi mdi-alert-circle-outline alert-icon"></i>
                        </div>
                        <div>
                            {% translate "Your username and password didn't match. Please try again." %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if user.is_authenticated %}
                <div class="alert alert-info" role="alert">
                    <div class="d-flex">
                        <div>
                            <i class="mdi mdi-information-outline alert-icon"></i>
                        </div>
                        <div>
                            {% translate "You are already logged in." %}
                        </div>
                     </div>
                </div>
            {% else %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                    {{ form|crispy }}

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">{% translate "Sign in" %}</button>
                    </div>

                    {# Hidden "next" field for redirects after login #}
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            {% endif %}

        </div>
    </div>
    <div class="text-center text-muted mt-3 small">
      {% translate "Accounts are provisioned by your administrator." %}
    </div>
    <div class="text-center text-muted mt-2 small">ITAMbox v{{ settings.VERSION }}</div>
</div>
{% endblock %} 