{% load i18n %}
{% translate "Total Stock" as l_total %}
{% translate "Allocated" as l_alloc %}
{% translate "Available Stock" as l_avail %}
<div class="row g-3 mb-4">
    {% include "generic/includes/stat_card.html" with col="col-sm-4" color="blue" icon="mdi mdi-archive-outline" label=l_total value=object.total_stock %}
    {% include "generic/includes/stat_card.html" with col="col-sm-4" color="purple" icon="mdi mdi-upload" label=l_alloc value=object.total_allocated %}
    {% if object.available_stock <= 0 %}
        {% include "generic/includes/stat_card.html" with col="col-sm-4" color="danger" icon="mdi mdi-check-circle-outline" label=l_avail value=object.available_stock %}
    {% elif object.available_stock < object.min_qty %}
        {% include "generic/includes/stat_card.html" with col="col-sm-4" color="warning" icon="mdi mdi-check-circle-outline" label=l_avail value=object.available_stock %}
    {% else %}
        {% include "generic/includes/stat_card.html" with col="col-sm-4" color="success" icon="mdi mdi-check-circle-outline" label=l_avail value=object.available_stock %}
    {% endif %}
</div>
