{% load i18n %}
<dl class="row mb-0">
    <dt class="col-sm-3">{% translate "Manufacturer:" %}</dt>
    <dd class="col-sm-9">
        {% if object.manufacturer %}
            <a href="{{ object.manufacturer.get_absolute_url }}" class="font-weight-bold text-decoration-none">{{ object.manufacturer.name }}</a>
        {% else %}
             <span class="text-muted"><i>{% translate "None" %}</i></span>
        {% endif %}
    </dd>
 
    <dt class="col-sm-3">{% translate "Name:" %}</dt>
    <dd class="col-sm-9"><strong>{{ object.name }}</strong></dd>
 
    <dt class="col-sm-3">{% translate "Slug:" %}</dt>
    <dd class="col-sm-9"><code>{{ object.slug }}</code></dd>
 
    <dt class="col-sm-3">{% translate "Category:" %}</dt>
    <dd class="col-sm-9">
        {% if object.category %}
            <a href="{{ object.category.get_absolute_url }}" class="badge bg-blue-lt px-2.5 py-1 text-uppercase text-decoration-none">
                {{ object.category.name }}
            </a>
        {% else %}
             <span class="text-muted"><i>{% translate "None" %}</i></span>
        {% endif %}
    </dd>
 
    <dt class="col-sm-3">{% translate "Part Number / SKU:" %}</dt>
    <dd class="col-sm-9">
        {% if object.part_number %}
            <code>{{ object.part_number }}</code>
        {% else %}
            <span class="text-muted"><i>{% translate "Not Set" %}</i></span>
        {% endif %}
    </dd>
 
    <dt class="col-sm-3">{% translate "Min Stock Level:" %}</dt>
    <dd class="col-sm-9">
        <span class="badge bg-warning-lt">{{ object.min_qty }}</span>
    </dd>
</dl>
