{% load i18n %}
{% if object.available <= 0 %}
<div class="alert alert-important alert-danger shadow-sm mb-4" role="alert">
    <div class="d-flex">
        <div>
            <i class="mdi mdi-alert-outline alert-icon"></i>
        </div>
        <div>
            <strong>{% translate "Out of Stock Alert:" %}</strong> {% translate "This consumable item is completely depleted. Reorder immediately!" %}
        </div>
    </div>
</div>
{% elif object.available < object.min_qty %}
<div class="alert alert-important alert-warning shadow-sm mb-4" role="alert">
    <div class="d-flex">
        <div>
            <i class="mdi mdi-alert-outline alert-icon"></i>
        </div>
        <div>
            <strong>{% translate "Low Stock Warning:" %}</strong> {% translate "Stock count has dipped below the configured safety threshold of" %} <strong>{{ object.min_qty }}</strong> {% translate "units. Consider replenishing inventory." %}
        </div>
    </div>
</div>
{% endif %}

<dl class="row mb-0">
    <dt class="col-sm-3">{% translate "Manufacturer:" %}</dt>
    <dd class="col-sm-9">
        {% if object.manufacturer %}
            <a href="{{ object.manufacturer.get_absolute_url }}" class="font-weight-bold text-decoration-none">{{ object.manufacturer.name }}</a>
        {% else %}
             <span class="text-muted"><i>{% translate "None" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Name:" %}</dt>
    <dd class="col-sm-9"><strong>{{ object.name }}</strong></dd>

    <dt class="col-sm-3">{% translate "Slug:" %}</dt>
    <dd class="col-sm-9"><code>{{ object.slug }}</code></dd>

    <dt class="col-sm-3">{% translate "Category:" %}</dt>
    <dd class="col-sm-9">
        <span class="badge bg-purple-lt px-2.5 py-1 text-uppercase">
            {{ object.category.name }}
        </span>
    </dd>

    <dt class="col-sm-3">{% translate "Part Number / SKU:" %}</dt>
    <dd class="col-sm-9">
        {% if object.part_number %}
            <code>{{ object.part_number }}</code>
        {% else %}
            <span class="text-muted"><i>{% translate "Not Set" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Over-allocation Policy:" %}</dt>
    <dd class="col-sm-9">
        {% if object.allow_overallocate %}
            <span class="badge bg-warning-lt text-warning text-uppercase">{% translate "Allowed (Negative Stock Permitted)" %}</span>
        {% else %}
            <span class="badge bg-success-lt text-success text-uppercase">{% translate "Strict Enforcement (Prevent Negative Stock)" %}</span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Safety Stock Limit:" %}</dt>
    <dd class="col-sm-9"><span class="badge bg-secondary-lt">{{ object.min_qty }} {% translate "Units" %}</span></dd>
</dl>
