{% load i18n %}
{# Panel: Asset metrics overview (assignment status + software count) #}
{% translate "Assignment Status" as l_status %}
{% translate "Software Inventory" as l_sw %}
{% blocktranslate count n=object.installed_software.count asvar sw_value %}{{ n }} Item Logged{% plural %}{{ n }} Items Logged{% endblocktranslate %}
<div class="row g-3 mb-4">
    {% if assignment and assignment.assigned_to %}
        {% translate "Deployed / Checked Out" as v_status %}
        {% include "generic/includes/stat_card.html" with color="blue" icon="mdi mdi-account-check-outline" label=l_status value=v_status size="h2" %}
    {% else %}
        {% translate "Available in Inventory" as v_status %}
        {% include "generic/includes/stat_card.html" with color="green" icon="mdi mdi-check" label=l_status value=v_status size="h2" %}
    {% endif %}
    {% include "generic/includes/stat_card.html" with color="purple" icon="mdi mdi-application-cog-outline" label=l_sw value=sw_value size="h2" %}
</div>
