{% load i18n %}
<dl class="row mb-0">
    <dt class="col-sm-4">{% translate "Name:" %}</dt>
    <dd class="col-sm-8"><strong>{{ object.name }}</strong></dd>

    <dt class="col-sm-4">{% translate "Slug:" %}</dt>
    <dd class="col-sm-8"><code>{{ object.slug }}</code></dd>

    <dt class="col-sm-4">{% translate "Color:" %}</dt>
    <dd class="col-sm-8">
        {% if object.color %}
            <span class="badge" style="background-color: #{{ object.color }}; width: 24px; height: 16px; display: inline-block; vertical-align: middle;"></span>
            <code class="ms-1">#{{ object.color }}</code>
        {% else %}
            <span class="text-muted small"><i>{% translate "None" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-4">{% translate "Applies To:" %}</dt>
    <dd class="col-sm-8">
        {% if object.applies_to %}
            {% for scope in object.applies_to %}
                <span class="badge bg-secondary-lt text-capitalize">{{ scope }}</span>
            {% endfor %}
        {% else %}
            <span class="text-muted small"><i>{% translate "All" %}</i></span>
        {% endif %}
    </dd>


</dl>
