{% load i18n %}
<dl class="row mb-0">
    <dt class="col-sm-3">{% translate "Name:" %}</dt>
    <dd class="col-sm-9"><strong>{{ object.name }}</strong></dd>

    <dt class="col-sm-3">{% translate "Lifespan:" %}</dt>
    <dd class="col-sm-9">{{ object.months }} {% translate "months" %}</dd>

    <dt class="col-sm-3">{% translate "Method:" %}</dt>
    <dd class="col-sm-9">{{ object.get_method_display }}</dd>

    <dt class="col-sm-3">{% translate "Convention:" %}</dt>
    <dd class="col-sm-9">{{ object.get_convention_display }}</dd>

    {% if object.immediate_expense_threshold %}
    <dt class="col-sm-3">{% translate "GWG Threshold:" %}</dt>
    <dd class="col-sm-9">
        {{ object.immediate_expense_threshold }}
        <small class="text-muted">{% translate "(assets at or below this cost are immediately expensed)" %}</small>
    </dd>
    {% endif %}
</dl>
