{% load i18n %}
<dl class="row mb-0">
    <dt class="col-sm-3">{% translate "Name:" %}</dt>
    <dd class="col-sm-9"><strong>{{ object.name }}</strong></dd>

    <dt class="col-sm-3">{% translate "Rate:" %}</dt>
    <dd class="col-sm-9">{{ object.rate }}%</dd>

    <dt class="col-sm-3">{% translate "Duration (months):" %}</dt>
    <dd class="col-sm-9">{{ object.duration_months }}</dd>

    <dt class="col-sm-3">{% translate "Description:" %}</dt>
    <dd class="col-sm-9 text-secondary">{% if object.description %}{{object.description|linebreaksbr}}{% else %}<i>No description.</i>{% endif %}</dd>
</dl>
