{% load i18n %}
{# --- OOB Block: Page Title --- #}
<span id="page-title-block" hx-swap-oob="true">
    {{ title|default:"List View" }} {% translate "- ITAMbox" %}
</span>

{# --- OOB Block: Page Header --- #}
<div id="page-header-block" hx-swap-oob="true">
    <div class="page-pretitle">
        {{ pretitle|default:"Manage" }}
    </div>
    <h2 class="page-title">
        {{ title|default:"Objects" }}
    </h2>
</div>

{# --- OOB Block: Page Actions --- #}
<div id="page-actions-block" hx-swap-oob="true">
    <div class="btn-list">
        {% if is_deleted_view %}
            {% if has_soft_delete %}
            <a href="?deleted=false" class="btn btn-outline-secondary" hx-get="?deleted=false" hx-push-url="true" hx-target="#object-list-dynamic-content">
                <i class="mdi mdi-arrow-left me-1"></i>
                {% translate "Back to Active Items" %}
            </a>
            {% endif %}
        {% else %}
            {% if create_url_name and can_add %}
            <a href="{% url create_url_name %}" class="btn btn-primary">
                <i class="mdi mdi-plus"></i>
                {% translate "Create" %} {{ object_type|default:"Object" }}
            </a>
            {% endif %}
            {% if export_url_name %}
            <a href="#" class="btn btn-secondary d-none d-sm-inline-block">
                <i class="mdi mdi-download me-1"></i>
                {% translate "Export" %}
            </a>
            {% endif %}
            {% if has_soft_delete %}
                {% if request.user.is_superuser or perms.core.view_recyclebin %}
                <a href="?deleted=true" class="btn btn-outline-danger" hx-get="?deleted=true" hx-push-url="true" hx-target="#object-list-dynamic-content">
                    <i class="mdi mdi-trash-can-outline me-1"></i>
                    {% translate "Recycle Bin" %}
                </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
