{% load i18n %}
<div class="row g-3 mb-4">
    <div class="col-sm-6">
        <div class="card card-sm {% if object.status == 'installed' %}bg-success-lt{% elif object.status == 'in_stock' %}bg-yellow-lt{% else %}bg-danger-lt{% endif %} border-0 shadow-none">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="{% if object.status == 'installed' %}bg-success{% elif object.status == 'in_stock' %}bg-yellow{% else %}bg-danger{% endif %} text-white avatar rounded shadow-sm">
                            {% if object.status == 'installed' %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                            {% elif object.status == 'in_stock' %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" /><path d="M12 12l8 -4.5" /><path d="M12 12l0 9" /><path d="M12 12l-8 -4.5" /></svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                            {% endif %}
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium {% if object.status == 'installed' %}text-success{% elif object.status == 'in_stock' %}text-yellow{% else %}text-danger{% endif %} small uppercase font-sans">{% translate "Status" %}</div>
                        <div class="{% if object.status == 'installed' %}text-success{% elif object.status == 'in_stock' %}text-yellow{% else %}text-danger{% endif %} h2 mb-0 font-weight-bold" style="line-height: 1.2;">{{ object.get_status_display }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-sm bg-blue-lt border-0 shadow-none">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-blue text-white avatar rounded shadow-sm">
                            <i class="mdi mdi-laptop"></i>
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium text-blue small uppercase font-sans">{% translate "Asset Assignment" %}</div>
                        <div class="text-blue h2 mb-0 font-weight-bold" style="line-height: 1.2;">
                            {% if object.parent_asset %}
                                <a href="{{ object.parent_asset.get_absolute_url }}" class="text-blue text-decoration-none">{{ object.parent_asset.name }}</a>
                            {% else %}
                                <i>{% translate "Unassigned / In Stock" %}</i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
