{% extends 'generic/object_detail.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{# Define the specific details for a Manufacturer object #}
{% block object_details %}
<dl class="row">
    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9">{{ object.name }}</dd>

    <dt class="col-sm-3">Description:</dt>
    <dd class="col-sm-9">{{ object.description|linebreaksbr|default:"<i>Not Set</i>"|safe }}</dd>
</dl>
{% endblock object_details %}

{# Remove Assets table from here #}
{% block related_objects %}
    {# This block is now only used for the sidebar related objects card #}
    {# We calculated the Asset count in the view for the sidebar card #}
{% endblock related_objects %}

{# Add the Asset Types table to the full_width_content block #}
{% block full_width_content %}
    {% if asset_types_table and asset_types_table.rows %}
    <div class="card mb-4">
        <div class="card-header"><h3 class="card-title">Asset Types from this Manufacturer ({{ asset_types_table.page.paginator.count }})</h3></div>
        <div class="table-responsive">
            {% render_table asset_types_table %}
        </div>
         {% include 'generic/includes/table_pagination.html' with table=asset_types_table %}
    </div>
     {% elif asset_types_table %}
     <div class="card mb-4">
        <div class="card-header"><h3 class="card-title">Asset Types from this Manufacturer (0)</h3></div>
         <div class="card-body">
            <p class="text-muted">No asset types found for this manufacturer.</p>
         </div>
    </div>
    {% endif %}
{% endblock full_width_content %}
