{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit Manufacturer{% else %}Add Manufacturer{% endif %}{% endblock %}

{% block page_header %}
    <div class="page-pretitle">
        Assets / Manufacturers
    </div>
    <h2 class="page-title">
        {% if object %}Edit {{ object.name }}{% else %}Add Manufacturer{% endif %}
    </h2>
{% endblock %}

{% block content %}
<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary">{% if object %}Update{% else %}Create{% endif %} Manufacturer</button>
                        <a href="{% url 'assets:manufacturer_list' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}