{% load crispy_forms_tags %}
{% load partials %}
<div class="modal modal-blur fade" id="accessory-checkout-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Check Out Accessory: {{ accessory }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="accessory-checkout-form"
                  hx-post="{% url 'assets:accessory_checkout' pk=accessory.pk %}"
                  hx-target="#accessory-checkout-modal-form-container"
                  hx-swap="innerHTML">
                {% csrf_token %}
                <div class="modal-body" id="accessory-checkout-modal-form-container">
                    {% startpartial checkout-modal-form %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                Please correct the errors below.
                            </div>
                        {% endif %}
                        {% crispy form %}
                    {% endpartial %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Check Out</button>
                </div>
            </form>
        </div>
    </div>
</div>
