{% extends 'generic/object_detail.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}

{# --- Page Title --- #}
{% block title %}{{ object.name }} {% translate "- Contact Details - AssetBox" %}{% endblock %}

{# --- Page Header --- #}
{% block page_pretitle %}{% translate "Organization / Contacts" %}{% endblock %}

{# --- Tabs Hook --- #}
{% block extra_tabs %}
    <li class="nav-item" role="presentation">
        <a href="?tab=assignments" class="nav-link {% if request.GET.tab == 'assignments' %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#assignments" role="tab" aria-selected="{% if request.GET.tab == 'assignments' %}true{% else %}false{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-purple" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" /></svg>
            {% translate "Assigned Objects" %} <span class="badge bg-purple-lt ms-2">{{ assignments_table.rows|length }}</span>
        </a>
    </li>
{% endblock extra_tabs %}

{# Object details rendered via panel layout #}

{# --- Related Objects (Sidebar) --- #}
{% block related_objects %}
{% endblock related_objects %}

{# --- Extra Tab Panes --- #}
{% block extra_tab_panes %}
    {# Assignments Tab Pane #}
    <div class="tab-pane fade {% if request.GET.tab == 'assignments' %}show active{% endif %}" id="assignments" role="tabpanel">
        <div class="card border-0 shadow-sm">
            <div class="card-header border-0 bg-transparent">
                <h3 class="card-title">{% translate "Associated Assignments" %}</h3>
            </div>
            {% if assignments_table.rows %}
                <div class="table-responsive">
                    {% render_table assignments_table %}
                </div>
                {% include 'generic/includes/table_pagination.html' with table=assignments_table tab="assignments" %}
            {% else %}
                <div class="card-body py-5 text-muted text-center">
                    <i class="mdi mdi-account-group-outline text-muted mb-2"></i>
                    <p class="mb-0">{% translate "This contact has no active assignments." %}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock extra_tab_panes %}
