{% load i18n %}
<form method="post" action="{% url 'extras:dashboard_widget_delete' dashboard_id=dashboard_id index=index %}" hx-post="{% url 'extras:dashboard_widget_delete' dashboard_id=dashboard_id index=index %}" hx-target="#dashboard-modal-content">
    {% csrf_token %}
    <div class="modal-status bg-danger"></div>
    <div class="modal-body text-center py-4">
        <i class="mdi mdi-alert-outline mb-2 text-danger"></i>
        <h5>{% trans "Remove Widget" %}</h5>
        <div class="text-muted">
            {% trans "Remove" %} <strong>{{ config.title }}</strong>?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="submit" class="btn btn-danger ms-auto">
            <i class="mdi mdi-trash-can-outline"></i>
            {% trans "Remove" %}
        </button>
    </div>
</form>
