{% load i18n %}
<form method="get" action="" class="filter-form-inline"
      hx-get="{{ hx_url|default:request.path }}"
      hx-target="{{ hx_target|default:'#object-list-dynamic-content' }}"
      hx-swap="innerHTML"
      hx-push-url="true">
    <div class="input-group input-group-flat input-group-sm">
        <input type="search" name="q" class="form-control form-control-sm" placeholder="{% translate 'Search...' %}"
               value="{{ request.GET.q|default:'' }}"
               hx-trigger="keyup changed delay:500ms, search">
        <span class="input-group-text {% if not request.GET.q %}d-none{% endif %}">
            <a href="#" class="link-secondary clear-search-btn"
               title="{% translate 'Clear search' %}" data-bs-toggle="tooltip">
                <i class="mdi mdi-close"></i>
            </a>
        </span>
    </div>
    {% for field in filter_form %}
        {% if field.name != 'q' and field.value %}
            <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
        {% endif %}
    {% endfor %}
</form>
