{% load i18n %}
{% translate "Checked Out Assets Assigned" as l_assigned %}
{% translate "Accessories" as l_acc %}
{% translate "Consumable Usage" as l_cons %}
{% translate "License Seats" as l_lic %}
<div class="row g-3 mb-4">
    {% include "generic/includes/stat_card.html" with col="col-12" color="indigo" icon="mdi mdi-clipboard-check-outline" label=l_assigned value=assignments_table.rows|length %}
</div>
<div class="row g-3">
    {% include "generic/includes/stat_card.html" with col="col-sm-4" color="teal" icon="mdi mdi-keyboard-outline" label=l_acc value=object.accessory_assignments.count size="h3" compact="1" %}
    {% include "generic/includes/stat_card.html" with col="col-sm-4" color="cyan" icon="mdi mdi-water-outline" label=l_cons value=object.consumable_consumptions.count size="h3" compact="1" %}
    {% include "generic/includes/stat_card.html" with col="col-sm-4" color="blue" icon="mdi mdi-key-outline" label=l_lic value=object.license_assignments.count size="h3" compact="1" %}
</div>
