{% load i18n %}
{% translate "Physical Assets" as l_assets %}
{% translate "Child Locations" as l_children %}
{% translate "Accessory Checkouts" as l_acc %}
{% translate "Consumable Usage" as l_cons %}
<div class="row g-3 mb-4">
    {% include "generic/includes/stat_card.html" with color="green" icon="mdi mdi-laptop" label=l_assets value=assets_table.rows|length %}
    {% include "generic/includes/stat_card.html" with color="azure" icon="mdi mdi-map-marker-multiple-outline" label=l_children value=object.children.count %}
</div>
<div class="row g-3">
    {% include "generic/includes/stat_card.html" with color="teal" icon="mdi mdi-keyboard-outline" label=l_acc value=object.accessoryassignment_assignments.count size="h3" compact="1" %}
    {% include "generic/includes/stat_card.html" with color="cyan" icon="mdi mdi-water-outline" label=l_cons value=object.consumableassignment_assignments.count size="h3" compact="1" %}
</div>
