{% load i18n %}
{% translate "Sites" as l_sites %}
{% translate "Locations" as l_loc %}
{% translate "Asset Holders" as l_holders %}
{% translate "Assets" as l_assets %}
{% translate "Accessories" as l_acc %}
{% translate "Consumables" as l_cons %}
{% translate "Licenses" as l_lic %}
{% translate "Kits" as l_kits %}
{% translate "Subscriptions" as l_subs %}
<div class="row g-3 mb-4">
    {% include "generic/includes/stat_card.html" with col="col-sm-4" color="purple" icon="mdi mdi-office-building-outline" label=l_sites value=sites_table.rows|length %}
    {% include "generic/includes/stat_card.html" with col="col-sm-4" color="azure" icon="mdi mdi-map-marker-outline" label=l_loc value=locations_table.rows|length %}
    {% include "generic/includes/stat_card.html" with col="col-sm-4" color="indigo" icon="mdi mdi-account-group-outline" label=l_holders value=assetholders_table.rows|length %}
</div>
<div class="row g-3 mb-4">
    {% include "generic/includes/stat_card.html" with col="col-sm-3" color="green" icon="mdi mdi-laptop" label=l_assets value=tenant_asset_count size="h3" compact="1" %}
    {% include "generic/includes/stat_card.html" with col="col-sm-3" color="teal" icon="mdi mdi-keyboard-outline" label=l_acc value=tenant_accessory_count size="h3" compact="1" %}
    {% include "generic/includes/stat_card.html" with col="col-sm-3" color="cyan" icon="mdi mdi-water-outline" label=l_cons value=tenant_consumable_count size="h3" compact="1" %}
    {% include "generic/includes/stat_card.html" with col="col-sm-3" color="blue" icon="mdi mdi-key-outline" label=l_lic value=tenant_license_count size="h3" compact="1" %}
</div>
<div class="row g-3">
    {% include "generic/includes/stat_card.html" with col="col-sm-6" color="orange" icon="mdi mdi-package-variant" label=l_kits value=tenant_kit_count size="h3" compact="1" %}
    {% include "generic/includes/stat_card.html" with col="col-sm-6" color="pink" icon="mdi mdi-file-document-outline" label=l_subs value=tenant_subscription_count size="h3" compact="1" %}
</div>
