{% extends 'users/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title_tab %}{% trans "Change Password" %}{% endblock %}

{% block content_tab %}
{# This content is included inside the card body defined in users/inc/tabs.html #}
<form method="post">
    {% csrf_token %}
    <div class="card-body">
        <h3 class="card-title">{% trans "Change Password" %}</h3>
        {{ form|crispy }}
    </div>
    <div class="card-footer text-end">
        <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
    </div>
</form>
{% endblock %} 