{% extends 'users/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title_tab %}{% translate "Preferences" %}{% endblock %}

{% block content_tab %}
{# This content is included inside the card body defined in users/inc/tabs.html #}
<form method="post">
    {% csrf_token %}
    <div class="card-body">
        {# General Preferences Section #}
        <h3 class="card-title mb-4">{% translate "User Preferences" %}</h3>
        {{ form|crispy }}
        
        {# Table Configurations Section #}
        {% if table_configs %}
        <div class="field-group my-5">
            <div class="row mb-3">
                <h3 class="col-9 offset-sm-3">{% translate "Table Configurations" %}</h3>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label text-sm-end">
                    {% translate "Clear table preferences" %}
                </label>
                <div class="col-sm-9">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover table-vcenter card-table">
                                <thead>
                                    <tr>
                                        <th class="w-1 text-center">
                                            {# <input type="checkbox" class="toggle form-check-input" title="Toggle All"> #} {# Toggle All JS needed #}
                                        </th>
                                        <th>{% translate "Table" %}</th>
                                        <th>{% translate "Ordering" %}</th>
                                        <th>{% translate "Columns" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for config in table_configs %}
                                        <tr>
                                            <td class="text-center">
                                                <input type="checkbox" name="pk" value="{{ config.key }}" class="form-check-input">
                                            </td>
                                            <td>{{ config.name }}</td>
                                            <td>{{ config.ordering|default:"-" }}</td>
                                            <td>{{ config.columns|default:"-" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <small class="form-hint">{% translate "Select one or more table configurations to clear." %}</small>
                </div>
            </div>
        </div>
        {% endif %}
    </div> {# End card-body #}
    
    <div class="card-footer text-end">
        <button type="submit" class="btn btn-primary">{% translate "Save Changes" %}</button>
    </div>
</form>
{% endblock %} 