{% load i18n %}
{% load render_table from django_tables2 %}

<div class="row g-3 mb-4">
    <div class="col-sm-12">
        <div class="card card-sm bg-purple-lt border-0 shadow-none">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-purple text-white avatar rounded shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-components" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12l3 3l3 -3l-3 -3z" /><path d="M15 12l3 3l3 -3l-3 -3z" /><path d="M9 6l3 3l3 -3l-3 -3z" /><path d="M9 18l3 3l3 -3l-3 -3z" /></svg>
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium text-purple small uppercase font-sans">{% translate "Total Installations Detected" %}</div>
                        <div class="text-purple h1 mb-0 font-weight-bold">{{ instances_table.rows|length }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
