{% extends 'generic/object_detail.html' %}
{% load i18n %}
{% load static %}
{% load utility_tags %}
{% load render_table from django_tables2 %}

{# --- Page Title and Header --- #}
{% block title %}{{ object.manufacturer.name }} {{ object.model }} {% translate "- Asset Type - ITAMbox" %}{% endblock %}

{% block page_pretitle %}{% translate "Assets / Asset Types" %}{% endblock %}

{# --- Tabs Hook --- #}
{% block extra_tabs %}
    <li class="nav-item" role="presentation">
        <a href="?tab=related-assets" data-bs-target="#related-assets" class="nav-link {% if request.GET.tab == 'related-assets' %}active{% endif %}" data-bs-toggle="tab" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-purple" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l18 0" /><path d="M9 8l1 0" /><path d="M9 12l1 0" /><path d="M9 16l1 0" /><path d="M14 8l1 0" /><path d="M14 12l1 0" /><path d="M14 16l1 0" /><path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16" /></svg>
            {% translate "Related Assets" %} <span class="badge bg-purple-lt ms-2">{{ assets_table.rows|length }}</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="?tab=requests" data-bs-target="#requests" class="nav-link {% if request.GET.tab == 'requests' %}active{% endif %}" data-bs-toggle="tab" role="tab">
            <i class="mdi mdi-clipboard-text-outline me-1 text-yellow"></i>
            {% translate "Requests" %} <span class="badge bg-yellow-lt ms-2">{{ object.requests.count }}</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a href="?tab=kits" data-bs-target="#kits" class="nav-link {% if request.GET.tab == 'kits' %}active{% endif %}" data-bs-toggle="tab" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-orange" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" /><path d="M12 12l8 -4.5" /><path d="M12 12l0 9" /><path d="M12 12l-8 -4.5" /></svg>
            {% translate "Kits" %} <span class="badge bg-orange-lt ms-2">{{ kits_table.rows|length }}</span>
        </a>
    </li>
{% endblock extra_tabs %}

{# Object details rendered via panel layout #}

{# --- Extra Tab Panes --- #}
{% block extra_tab_panes %}
    {# Related Assets Tab Pane #}
    {% translate "Assets of this Model / Type" as t_assets %}
    {% translate "No physical assets registered under this type/model yet." as e_assets %}
    {% include 'generic/includes/related_table_tab.html' with tab="related-assets" table=assets_table title=t_assets empty=e_assets icon="mdi mdi-cancel" %}

    {% translate "Asset Requests for this Model / Type" as t_requests %}
    {% translate "No requests logged for this asset type." as e_requests %}
    {% include 'generic/includes/related_table_tab.html' with tab="requests" table=requests_table title=t_requests empty=e_requests %}

    {% translate "Kits Allocating this Model / Type" as t_kits %}
    {% translate "No kits allocate this asset type." as e_kits %}
    {% include 'generic/includes/related_table_tab.html' with tab="kits" table=kits_table title=t_kits empty=e_kits %}
{% endblock extra_tab_panes %}
