{% load crispy_forms_tags %}
{% load utility_tags %}

<form method="get" action="{{ request.path }}" class="filter-form-sidebar"
      hx-get="{{ request.path }}"
      hx-target="#object-list-dynamic-content"
      hx-swap="innerHTML"
      hx-push-url="true">

     {% crispy filter_form 'bootstrap5' exclude_field='q' %}

     <div class="mt-4 d-flex justify-content-between gap-2">
         <button type="submit" class="btn btn-primary w-100">Apply</button>
         <a href="{{ request.path }}" class="btn btn-outline-secondary w-100"
            hx-get="{{ request.path }}"
            hx-target="#object-list-dynamic-content"
            hx-swap="innerHTML"
            hx-push-url="true">Reset</a>
     </div>
</form>