{% load render_table from django_tables2 %}
{% load i18n %}
{% load utility_tags %}

{# Table Rendering Container (for HTMX) #}
<div id="object-list-table-container">
    <div class="table-responsive">
        {% block table %}
            {% if table %}
                {% render_table table %}
            {% else %}
                <div class="p-3">
                    <p class="text-muted mb-0">No table data available.</p>
                </div>
            {% endif %}
        {% endblock table %}
    </div>
</div>
{# End Table Rendering Container #}

{# Pagination Controls Container #}
{% if table.page %}
<div class="card-footer d-flex align-items-center">
    {# Per Page Dropdown #}
    {% include 'global_includes/pagination_per_page.html' with paginator=table.page.paginator %}

    {# Page Number Summary #}
    <p class="m-0 text-secondary flex-grow-1">
        {% blocktrans with start=table.page.start_index end=table.page.end_index total=table.page.paginator.count %}
        Showing <span>{{ start }}</span> to <span>{{ end }}</span> of <span>{{ total }}</span> entries
        {% endblocktrans %}
    </p>

    {# Page Links #}
    {% include 'global_includes/pagination_links.html' with page_obj=table.page %}

</div>
{% endif %}
{# End Pagination Controls Container #} 