{% extends 'generic/object_detail.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}

{# --- Page Title --- #}
{% block title %}{{ object.name }} {% translate "- Status Label Details - AssetBox" %}{% endblock %}

{# --- Page Header --- #}
{% block page_pretitle %}{% translate "Assets / Status Labels" %}{% endblock %}

{# --- Tabs Hook --- #}
{% block extra_tabs %}
    <li class="nav-item" role="presentation">
        <a href="#assets" class="nav-link active" data-bs-toggle="tab" role="tab">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-green" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l18 0" /><path d="M9 8l1 0" /><path d="M9 12l1 0" /><path d="M9 16l1 0" /><path d="M14 8l1 0" /><path d="M14 12l1 0" /><path d="M14 16l1 0" /><path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16" /></svg>
            {% translate "Assets" %} <span class="badge bg-green-lt ms-2">{{ assets_table.rows|length }}</span>
        </a>
    </li>
{% endblock extra_tabs %}

{# Object details rendered via panel layout #}

{# Sidebar elements #}
{% block related_objects %}
{% endblock related_objects %}

{# --- Extra Tab Panes --- #}
{% block extra_tab_panes %}
    {# Assets Tab Pane #}
    <div class="tab-pane fade show active" id="assets" role="tabpanel">
        <div class="card border-0 shadow-sm">
            <div class="card-header border-0 bg-transparent">
                <h3 class="card-title">{% translate 'Assets / Devices with status "' %}{{ object.name }}"</h3>
            </div>
            {% if assets_table.rows %}
                <div class="table-responsive">
                    {% render_table assets_table %}
                </div>
                {% include 'generic/includes/table_pagination.html' with table=assets_table %}
            {% else %}
                <div class="card-body py-5 text-muted text-center">
                    <i class="mdi mdi-devices text-muted mb-2"></i>
                    <p class="mb-0">{% translate "No assets found with this status label." %}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock extra_tab_panes %}
