<dl class="row mb-0">
    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9"><strong>{{ object.name }}</strong></dd>

    <dt class="col-sm-3">Title:</dt>
    <dd class="col-sm-9">{{ object.title|default:"<i>No title</i>"|safe }}</dd>

    <dt class="col-sm-3">Phone:</dt>
    <dd class="col-sm-9">
        {% if object.phone %}
            <a href="tel:{{ object.phone }}">{{ object.phone }}</a>
        {% else %}
            <span class="text-muted"><i>None</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Email:</dt>
    <dd class="col-sm-9">
        {% if object.email %}
            <a href="mailto:{{ object.email }}">{{ object.email }}</a>
        {% else %}
            <span class="text-muted"><i>None</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Web URL:</dt>
    <dd class="col-sm-9">
        {% if object.web_url %}
            <a href="{{ object.web_url }}" target="_blank">{{ object.web_url }}</a>
        {% else %}
            <span class="text-muted"><i>None</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Description:</dt>
    <dd class="col-sm-9 text-secondary">{{ object.description|linebreaksbr|default:"<i>No description provided.</i>"|safe }}</dd>

    <dt class="col-sm-3">Comments:</dt>
    <dd class="col-sm-9 text-secondary">{{ object.comments|linebreaksbr|default:"<span class='text-muted'><i>None</i></span>"|safe }}</dd>

    {% if object.tags.all %}
    <dt class="col-sm-3">Tags:</dt>
    <dd class="col-sm-9">
        {% for tag in object.tags.all %}
            {% include 'inc/tags.html' with tag=tag %}
        {% endfor %}
    </dd>
    {% endif %}
</dl>
