{% extends 'base.html' %}

{% block title %}Dashboard - AssetBox{% endblock %}

{% block page_header %}
    <!-- Page pre-title -->
    <div class="page-pretitle">
        Overview
    </div>
    <h2 class="page-title">
        Dashboard
    </h2>
{% endblock %}

{% block content %}
<div class="row row-deck row-cards">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                Welcome to AssetBox!
                {# Add dashboard widgets here later #}
            </div>
        </div>
    </div>
</div>
{% endblock %} 