{% load utility_tags %}
{% load i18n %}
{% load core_constants %}

{% if paginator.get_page_lengths %}
{% with paginator.get_page_lengths as page_lengths %}
<nav aria-label="{% trans "Pagination options" %}">
    <div class="dropdown dropdown-menu-end">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            {% trans "Per Page" %}
        </button>
        <ul class="dropdown-menu">
            {% for n in page_lengths %}
            <li>
                <a {% if hx_target %}href="#" hx-get="{{ request.path }}{% update_querystring request per_page=n page=1 %}" hx-target="{{ hx_target }}" hx-swap="innerHTML" hx-push-url="{% if hx_push_url is not None %}{{ hx_push_url }}{% else %}true{% endif %}"{% else %}href="{{ request.path }}{% update_querystring request per_page=n page=1 tab=tab %}{% if tab %}#{{ tab }}{% endif %}"{% endif %}
                   class="dropdown-item{% if n == paginator.per_page %} active{% endif %}">
                    {{ n }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
{% endwith %}
{% else %}
{% get_pagination_choices as choices %}
<nav aria-label="{% trans "Pagination options" %}">
    <div class="dropdown dropdown-menu-end">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            {% trans "Per Page" %}
        </button>
        <ul class="dropdown-menu">
            {% for count, label in choices %}
            <li>
                <a {% if hx_target %}href="#" hx-get="{{ request.path }}{% update_querystring request per_page=count page=1 %}" hx-target="{{ hx_target }}" hx-swap="innerHTML" hx-push-url="{% if hx_push_url is not None %}{{ hx_push_url }}{% else %}true{% endif %}"{% else %}href="{{ request.path }}{% update_querystring request per_page=count page=1 tab=tab %}{% if tab %}#{{ tab }}{% endif %}"{% endif %}
                   class="dropdown-item{% if count == paginator.per_page %} active{% endif %}">
                    {{ label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
{% endif %}
