<dl class="row mb-0">
    <dt class="col-sm-3">Manufacturer:</dt>
    <dd class="col-sm-9">
        {% if object.manufacturer %}
            <a href="{{ object.manufacturer.get_absolute_url }}" class="font-weight-bold text-decoration-none">{{ object.manufacturer.name }}</a>
        {% else %}
             <span class="text-muted"><i>None</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9"><strong>{{ object.name }}</strong></dd>

    <dt class="col-sm-3">Slug:</dt>
    <dd class="col-sm-9"><code>{{ object.slug }}</code></dd>

    <dt class="col-sm-3">Category:</dt>
    <dd class="col-sm-9">
        <span class="badge bg-purple-lt px-2.5 py-1 text-uppercase">
            {{ object.get_category_display }}
        </span>
    </dd>

    <dt class="col-sm-3">Part Number / SKU:</dt>
    <dd class="col-sm-9">
        {% if object.part_number %}
            <code>{{ object.part_number }}</code>
        {% else %}
            <span class="text-muted"><i>Not Set</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Over-allocation Policy:</dt>
    <dd class="col-sm-9">
        {% if object.allow_overallocate %}
            <span class="badge bg-warning-lt text-warning text-uppercase">Allowed (Negative Stock Permitted)</span>
        {% else %}
            <span class="badge bg-success-lt text-success text-uppercase">Strict Enforcement (Prevent Negative Stock)</span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">Safety Stock Limit:</dt>
    <dd class="col-sm-9"><span class="badge bg-secondary-lt">{{ object.min_qty }} Units</span></dd>
</dl>
