{% load i18n %}
<div class="row g-3 mb-4">
    <div class="col-sm-4">
        <div class="card card-sm bg-blue-lt border-0 shadow-none">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-blue text-white avatar rounded shadow-sm">
                            <i class="mdi mdi-archive-outline"></i>
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium text-blue small uppercase font-sans">{% translate "Total Purchased" %}</div>
                        <div class="text-blue h1 mb-0 font-weight-bold">{{ object.total_stock }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-sm bg-purple-lt border-0 shadow-none">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-purple text-white avatar rounded shadow-sm">
                            <i class="mdi mdi-minus"></i>
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium text-purple small uppercase font-sans">{% translate "Consumed" %}</div>
                        <div class="text-purple h1 mb-0 font-weight-bold">{{ object.consumed_qty }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-sm {% if object.available <= 0 %}bg-danger-lt{% elif object.available < object.min_qty %}bg-warning-lt{% else %}bg-success-lt{% endif %} border-0 shadow-none">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="{% if object.available <= 0 %}bg-danger{% elif object.available < object.min_qty %}bg-warning{% else %}bg-success{% endif %} text-white avatar rounded shadow-sm">
                            <i class="mdi mdi-check-circle-outline"></i>
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium {% if object.available <= 0 %}text-danger{% elif object.available < object.min_qty %}text-warning{% else %}text-success{% endif %} small uppercase font-sans">{% translate "Remaining Stock" %}</div>
                        <div class="{% if object.available <= 0 %}text-danger{% elif object.available < object.min_qty %}text-warning{% else %}text-success{% endif %} h1 mb-0 font-weight-bold">
                            {{ object.available }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
