{% load i18n %}
<dl class="row mb-0">
    <dt class="col-sm-3">{% translate "Component Model:" %}</dt>
    <dd class="col-sm-9">
        {% if object.component_type %}
            <a href="{{ object.component_type.get_absolute_url }}" class="font-weight-bold text-decoration-none">{{ object.component_type }}</a>
        {% else %}
             <span class="text-muted"><i>{% translate "None" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Serial Number:" %}</dt>
    <dd class="col-sm-9">
        {% if object.serial_number %}
            <span class="font-monospace strong">{{ object.serial_number }}</span>
        {% else %}
            <span class="text-muted"><i>{% translate "No Serial Number" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Status:" %}</dt>
    <dd class="col-sm-9">
        <span class="badge {% if object.status == 'installed' %}bg-success-lt text-success{% elif object.status == 'in_stock' %}bg-yellow-lt text-yellow{% else %}bg-danger-lt text-danger{% endif %} px-2.5 py-1 text-uppercase">
            {{ object.get_status_display }}
        </span>
    </dd>

    <dt class="col-sm-3">{% translate "Parent Asset:" %}</dt>
    <dd class="col-sm-9">
        {% if object.parent_asset %}
            <a href="{{ object.parent_asset.get_absolute_url }}" class="font-weight-bold text-decoration-none">{{ object.parent_asset }}</a>
        {% else %}
            <span class="text-muted"><i>{% translate "Not Assigned" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Purchase Date:" %}</dt>
    <dd class="col-sm-9">
        {% if object.purchase_date %}
            {{ object.purchase_date|date:"Y-m-d" }}
        {% else %}
            <span class="text-muted"><i>{% translate "Not Set" %}</i></span>
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% translate "Purchase Cost:" %}</dt>
    <dd class="col-sm-9">
        {% if object.purchase_cost %}
            <span class="text-success font-weight-bold">${{ object.purchase_cost }}</span>
        {% else %}
            <span class="text-muted"><i>{% translate "Not Set" %}</i></span>
        {% endif %}
    </dd>
</dl>
