{% load static %}
<!--
GraphiQL - the in-browser GraphQL IDE served for browsers that request
text/html from the token-authenticated /graphql/ endpoint. Request the endpoint
with "Accept: application/json" (or append "&raw") to receive plain JSON.
-->
<!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'dist/vendor/graphiql/graphiql.css' %}"
          rel="stylesheet" />
    <style nonce="{{ request.csp_nonce }}">
      html,
      body,
      #editor {
        height: 100%;
        margin: 0;
        overflow: hidden;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="editor"></div>
    {% csrf_token %}
    <script type="application/javascript" nonce="{{ request.csp_nonce }}">
      window.GRAPHIQL_SETTINGS = {
        subscriptionPath: "{{ request.path }}",
      };
    </script>
    <script src="{% static 'dist/vendor/graphiql/graphiql-ui.js' %}"
            nonce="{{ request.csp_nonce }}"></script>
  </body>
</html>
