{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{% translate "ITAMbox" %}{% endblock %}</title>
    {# <!-- CSS files --> #}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dist/vendor/tabler/css/tabler.min.css' %}">
    <style>
      /* Optional: Keep font import or remove if default is fine */
      @import url('https://rsms.me/inter/inter.css');
      :root {
        --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
        font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body class="d-flex flex-column">
    <script src="{% static 'dist/itambox.js' %}?v=1.0.7"></script>
    <div class="page page-center">
      {% block content %}
      {% endblock %}
    </div>
    {# JS bundled via itambox.js above #}
  </body>
</html> 