{% load utility_tags %}

<div class="row g-3 mb-4">
    <div class="col-sm-6">
        <div class="card card-sm bg-blue-lt border-0 shadow-none">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="bg-blue text-white avatar rounded shadow-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-key" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16.555 3.843a8 8 0 1 0-.342 15.228l-1.213-1.213a6 6 0 1 1 .184-11.83l1.371-2.185z" /><path d="M19 16v4" /><path d="M17 18h4" /></svg>
                        </span>
                    </div>
                    <div class="col">
                        <div class="font-weight-medium text-blue small uppercase font-sans">Total Purchased Seats</div>
                        <div class="text-blue h1 mb-0 font-weight-bold">{{ object.seats }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        {% if object.available_seats > 0 %}
            <div class="card card-sm bg-green-lt border-0 shadow-none">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-green text-white avatar rounded shadow-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 12l2 2l4 -4" /></svg>
                            </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium text-green small uppercase font-sans">Available Seats</div>
                            <div class="text-green h1 mb-0 font-weight-bold">{{ object.available_seats }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card card-sm bg-red-lt border-0 shadow-none">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-red text-white avatar rounded shadow-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 9v4" /><path d="M12 16v.01" /></svg>
                            </span>
                        </div>
                        <div class="col">
                            <div class="font-weight-medium text-red small uppercase font-sans">Available Seats</div>
                            <div class="text-red h1 mb-0 font-weight-bold">0 (Fully Allocated)</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
